
/* Colors -------------------------- */

// $--color-white:   $white;
// $--color-black:   $black;
// $--color-primary: $blue;
// $--color-success: $green;
// $--color-warning: $orange;
// $--color-danger:  $red;
// $--color-info:    $purple;

$--color-white: #fff;
$--color-black: #000;

$--color-primary: #409EFF;
$--color-success: #67c23a;
$--color-warning: #e6a23c;
$--color-danger:  #f56c6c;
$--color-info:    #909399;

$P: #409EFF;
$S: #67c23a;
$W: #e6a23c;
$D: #f56c6c;
$I: #909399;

$H: #fff;
$L: #000;

$--color-primary-lighter: #ecf5ff; $--color-primary-light: #c6e2ff;
$--color-success-lighter: #f0f9eb; $--color-success-light: #e1f3d8;
$--color-warning-lighter: #fdf6ec; $--color-warning-light: #faecd8;
$--color-danger-lighter:  #fef0f0; $--color-danger-light:  #fde2e2;
$--color-info-lighter:    #f4f4f5; $--color-info-light:    #dcdfe6;

$--color-text-primary:     #303133;
$--color-text-regular:     #606266;
$--color-text-secondary:   #909399;
$--color-text-placeholder: #c0c4cc;

/* Background -------------------------- */
$--background-color-base: #f5f7fa;

/* Border -------------------------- */
$--border-color-lighter: #ebeef5; $--border-color-light: #e4e7ed;

$--border-color-base: $--color-info-light; // info light is new, just moved this value up there

/* Font -------------------------- */
$--font-color-disabled-base: #bbb;

/* Disable base -------------------------- */
$--disabled-color-base:  $--color-text-placeholder;
$--disabled-border-base: $--border-color-light;


/* --- Simplify --- */







/* Checkbox -------------------------- */
$--checkbox-disabled-input-fill: $--color-primary-lighter;
$--checkbox-color:               $--color-text-regular;
$--checkbox-input-fill:          $--color-white;
$--checkbox-input-border-color:  $--border-color-base;
$--checkbox-icon-color:          $--color-white;

$--checkbox-disabled-input-border-color: $--border-color-base;
$--checkbox-disabled-icon-color:         $--color-text-placeholder;

$--checkbox-disabled-checked-input-fill:         $--color-info-lighter;
$--checkbox-disabled-checked-input-border-color: $--border-color-base;
$--checkbox-disabled-checked-icon-color:         $--color-text-placeholder;

$--checkbox-checked-text-color:         $--color-primary;
$--checkbox-checked-input-border-color: $--color-primary;
$--checkbox-checked-input-fill:         $--color-primary;
$--checkbox-checked-icon-color:         $--color-white;

$--checkbox-input-border-color-hover: $--color-primary;

$--checkbox-button-checked-fill:         $--color-primary;
$--checkbox-button-checked-color:        $--color-white;
$--checkbox-button-checked-border-color: $--color-primary;

// preserving functionality, only used in checkbox when treated as buttons and when not the
// first child, it creates a psuedo left border/separator between a group of check buttons
$--color-primary-light-4: $--color-primary-light;


/* Radio -------------------------- */
$--radio-color:               $--color-text-regular;
$--radio-input-fill:          $--color-white;
$--radio-input-border-color:  $--border-color-base;
$--radio-icon-color:          $--color-white;

$--radio-disabled-input-border-color: $--disabled-border-base;
$--radio-disabled-input-fill:         $--background-color-base;
$--radio-disabled-icon-color:         $--background-color-base;

$--radio-disabled-checked-input-border-color: $--disabled-border-base;
$--radio-disabled-checked-input-fill:         $--background-color-base;
$--radio-disabled-checked-icon-color:         $--color-text-placeholder;

$--radio-checked-text-color:         $--color-primary;
$--radio-checked-input-border-color: $--color-primary;
$--radio-checked-input-fill:         $--color-white;
$--radio-checked-icon-color:         $--color-primary;

$--radio-input-border-color-hover: $--color-primary;

$--radio-button-checked-fill:          $--color-primary;
$--radio-button-checked-color:         $--color-white;
$--radio-button-checked-border-color:  $--color-primary;
$--radio-button-disabled-checked-fill: $--color-info-lighter;


/* Select -------------------------- */
$--select-dropdown-empty-color: $--font-color-disabled-base;

$--select-border-color-hover: $--color-text-placeholder;
$--select-disabled-border:    $--disabled-border-base;
$--select-close-hover-color:  $--color-text-secondary;

$--select-input-color:            $--color-text-placeholder;
$--select-multiple-input-color:   $--color-text-regular;
$--select-input-focus-background: $--color-primary;

$--select-option-color:               $--color-text-regular;
$--select-option-disabled-color:      $--color-text-placeholder;
$--select-option-disabled-background: $--color-white;
$--select-option-hover-background:    $--background-color-base;
$--select-option-selected:            $--color-primary;
$--select-option-selected-hover:      $--background-color-base;

$--select-group-color:         $--color-info;
$--select-dropdown-background: $--color-white;


/* Alert / Message / Message Box / Notification --- Variants */
$--alert-success-color: $--color-success-lighter;
$--alert-info-color:    $--color-info-lighter;
$--alert-warning-color: $--color-warning-lighter;
$--alert-danger-color:  $--color-danger-lighter;

$--message-success-color: $S; $--msgbox-success-color: $S; $--notification-success-color: $S;
$--message-info-color:    $I; $--msgbox-info-color:    $I; $--notification-info-color:    $I;
$--message-warning-color: $W; $--msgbox-warning-color: $W; $--notification-warning-color: $W;
$--message-danger-color:  $D; $--msgbox-danger-color:  $D; $--notification-danger-color:  $D;








/* Message Box -------------------------- */
$--msgbox-content-color: $--color-text-regular;


/* Message -------------------------- */
$--message-background-color: $--color-primary-lighter;

$--message-content-color:     $--color-text-regular;
$--message-close-color:       $--color-text-placeholder;
$--message-close-hover-color: $--color-text-secondary;


/* Notification -------------------------- */
$--notification-border-color:    $--border-color-lighter;
$--notification-color:           $--color-text-regular;
$--notification-title-color:     $--color-text-primary;

$--notification-close-color:       $--color-text-secondary;
$--notification-close-hover-color: $--color-text-regular;


/* Input -------------------------- */
$--input-color:              $--color-text-regular;
$--input-border-color:       $--border-color-base;
$--input-border-color-hover: $--color-text-placeholder;
$--input-fill:               $--color-white;
$--input-fill-disabled:      $--background-color-base;
$--input-color-disabled:     $--font-color-disabled-base;
$--input-icon-color:         $--color-text-placeholder;
$--input-placeholder-color:  $--color-text-placeholder;

$--input-hover-border:      $--color-text-placeholder;
$--input-clear-hover-color: $--color-text-secondary;

$--input-focus-border: $--color-primary;
$--input-focus-fill:   $--color-white;

$--input-disabled-fill:              $--background-color-base;
$--input-disabled-border:            $--disabled-border-base;
$--input-disabled-color:             $--disabled-color-base;
$--input-disabled-placeholder-color: $--color-text-placeholder;

/* Group -------------------------- */
$--group-option-fill-hover:    rgba($--color-black, 0.06);
$--group-title-color:          $--color-black;

/* Tab -------------------------- */
$--tab-header-fill-active: rgba($--color-black, 0.06);
$--tab-header-fill-hover:  rgba($--color-black, 0.06);

$--tab-header-color-active:         $--color-text-secondary;
$--tab-header-color-hover:          $--color-text-regular;
$--tab-header-color:                $--color-text-regular;
$--tab-vertical-header-count-color: $--color-white;
$--tab-vertical-header-count-fill:  $--color-text-secondary;

/* Button -------------------------- */
$--button-primary-border: $P; $--button-primary-fill: $P; $--button-primary-color: $H;
$--button-success-border: $S; $--button-success-fill: $S; $--button-success-color: $H;
$--button-warning-border: $W; $--button-warning-fill: $W; $--button-warning-color: $H;
$--button-danger-border:  $D; $--button-danger-fill:  $D; $--button-danger-color:  $H;
$--button-info-border:    $I; $--button-info-fill:    $I; $--button-info-color:    $H;

$--button-default-color:  $--color-text-regular;
$--button-disabled-color: $--color-text-placeholder;

$--button-default-border:  $--border-color-base;    $--button-default-fill:  $H;
$--button-disabled-border: $--border-color-lighter; $--button-disabled-fill: $H;

$--button-hover-tint-percent:   20%;
$--button-active-shade-percent: 10%;

// preserving functionality, only used in buttons for the "default" variant on hover/active
$--color-primary-light-7: $--color-primary-light;   // ends up being the border color
$--color-primary-light-9: $--color-primary-lighter; // ends up being the background color


/* Switch -------------------------- */
$--switch-on-color:            $--color-primary;
$--switch-off-color:           $--border-color-base;
$--switch-disabled-color:      $--border-color-lighter;
$--switch-disabled-text-color: $--color-text-placeholder;


/* Table -------------------------- */
$--table-text-color:             $--color-text-regular;
$--table-header-color:           $--color-text-secondary;
$--table-row-hover-background:   $--background-color-base;
$--table-current-row-background: $--color-primary-lighter;
$--table-header-background:      $--color-white;
$--table-footer-background:      $--color-text-placeholder;


/* Pagination -------------------------- */
$--pagination-fill:                  $--color-white;
$--pagination-color:                 $--color-text-primary;
$--pagination-button-color:          $--color-text-primary;
$--pagination-button-disabled-color: $--color-text-placeholder;
$--pagination-button-disabled-fill:  $--color-white;
$--pagination-hover-fill:            $--color-primary;
$--pagination-hover-color:           $--color-white;


/* Popover -------------------------- */
$--popover-fill:         $--color-white;
$--popover-border-color: $--border-color-lighter;
$--popover-title-color:  $--color-text-primary;


/* Tooltip -------------------------- */
$--tooltip-fill:         $--color-text-primary;
$--tooltip-color:        $--color-white;
$--tooltip-border-color: $--color-text-primary;


/* Tag -------------------------- */
$--tag-color:         $P;
$--tag-info-color:    $I;
$--tag-primary-color: $P;
$--tag-success-color: $S;
$--tag-warning-color: $W;
$--tag-danger-color:  $D;

$--tag-fill:         $--color-primary-light; $--tag-border:         $--color-primary-lighter;
$--tag-primary-fill: $--color-primary-light; $--tag-primary-border: $--color-primary-lighter;
$--tag-success-fill: $--color-success-light; $--tag-success-border: $--color-success-lighter;
$--tag-warning-fill: $--color-warning-light; $--tag-warning-border: $--color-warning-lighter;
$--tag-danger-fill:  $--color-danger-light;  $--tag-danger-border:  $--color-danger-lighter;
$--tag-info-fill:    $--color-info-light;    $--tag-info-border:    $--color-info-lighter;


/* Dropdown -------------------------- */
$--dropdown-menuItem-hover-fill:  $--color-primary-lighter;
$--dropdown-menuItem-hover-color: $--color-primary;

/* Badge -------------------------- */
$--badge-fill: $--color-danger;

/* Card --------------------------*/
$--card-border-color: $--border-color-lighter;

/* Slider --------------------------*/
$--slider-button-hover-color: mix($--color-primary, black, 97%);

$--slider-main-background-color:   $--color-primary;
$--slider-runway-background-color: $--border-color-light;
$--slider-stop-background-color:   $--color-white;
$--slider-disable-color:           $--color-text-placeholder;

/* Steps --------------------------*/
$--steps-border-color: $--disabled-border-base;

/* Rate --------------------------*/
$--rate-icon-color: $--color-text-placeholder;

/* Scrollbar --------------------------*/
$--scrollbar-background-color:       rgba($--color-text-secondary, .3);
$--scrollbar-hover-background-color: rgba($--color-text-secondary, .5);

/* Collapse --------------------------*/
$--collapse-border-color:  $--border-color-lighter;
$--collapse-header-fill:   $--color-white;
$--collapse-header-color:  $--color-text-primary;
$--collapse-content-fill:  $--color-white;
$--collapse-content-color: $--color-text-primary;

