
/* Colors -------------------------- */

// $--color-white:   $white;
// $--color-black:   $black;
// $--color-primary: $blue;
// $--color-success: $green;
// $--color-warning: $orange;
// $--color-danger:  $red;
// $--color-info:    $purple;


$P: #409EFF; // primary
$S: #67c23a; // success
$W: #e6a23c; // warning
$D: #f56c6c; // danger
$I: #909399; // info

$llP: #ecf5ff; // lighter primary
$llS: #f0f9eb; // lighter success
$llW: #fdf6ec; // lighter warning
$llD: #fef0f0; // lighter danger
$llI: #f4f4f5; // lighter info

$lP: #c6e2ff; // light primary
$lS: #e1f3d8; // light success
$lW: #faecd8; // light warning
$lD: #fde2e2; // light danger
$lI: #dcdfe6; // light info

$H: #ffffff; // white
$L: #000000; // black


$--color-white: $H;
$--color-black: $L;

$--color-primary: $P; $--color-primary-lighter: $llP; $--color-primary-light: $lP;
$--color-success: $S; $--color-success-lighter: $llS; $--color-success-light: $lS;
$--color-warning: $W; $--color-warning-lighter: $llW; $--color-warning-light: $lW;
$--color-danger:  $D; $--color-danger-lighter:  $llD; $--color-danger-light:  $lD;
$--color-info:    $I; $--color-info-lighter:    $llI; $--color-info-light:    $lI;

$--color-text-primary:       #303133; // 6 - breadcrumb / card / dialog / message-box / step / switch
$--background-color-base: $llI; // f5f7fa; // 4 - input-number / input / steps / table

// $--color-text-placeholder:   #c0c4cc; // 7 - alert / breadcrumb / pagination / radio / select / step / table
// $--color-text-regular:       #606266; // 10
// $--border-color-lighter:     #ebeef5; // 9 - checkbox / dropdown / message-box / message / progress / radio / table-column / table / variables
// $--border-color-light:       #e4e7ed; // 7 - option-group / autocomplete
// $--color-text-secondary:     #909399; // 4 - select / table - same as info
// $--font-color-disabled-base: #bbbbbb; // 3 - dropdown


/* Preserving Functionality -------------------------- */
// only used in checkbox when treated as buttons and when not first child of "check buttons"
$--color-primary-light-4: $--color-primary-light;   // ends up being psuedo left border
// only used in buttons for the "default" variant on hover/active
$--color-primary-light-7: $--color-primary-light;   // ends up being the border color
$--color-primary-light-9: $--color-primary-lighter; // ends up being the background color


/* Alternate Text / Info / Placeholders -------------------------- */
$--color-text-secondary:     $I; // 909399 // 4 - select / table - same as info
$--font-color-disabled-base: $I; // bbbbbb // 3 - dropdown
$--color-text-placeholder:   $I; // c0c4cc // 7 - alert / breadcrumb / pagination / radio / select / step / table
$--color-text-regular:       $I; // 606266 // 10


/* Border -------------------------- */
$--border-color-base:    $lI; // dcdfe6
$--border-color-light:   $lI; // e4e7ed
$--border-color-lighter: $lI; // ebeef5


/* Disabled Base -------------------------- */
$--disabled-color-base:  $--color-text-placeholder;
$--disabled-border-base: $--border-color-light;

/* Checkbox -------------------------- */
$--checkbox-disabled-input-fill:                 $llP;
$--checkbox-color:                               $--color-text-regular;
$--checkbox-input-fill:                          $H;
$--checkbox-input-border-color:                  $--border-color-base;
$--checkbox-icon-color:                          $H;
$--checkbox-disabled-input-border-color:         $--border-color-base;
$--checkbox-disabled-icon-color:                 $--color-text-placeholder;
$--checkbox-disabled-checked-input-fill:         $llI;
$--checkbox-disabled-checked-input-border-color: $--border-color-base;
$--checkbox-disabled-checked-icon-color:         $--color-text-placeholder;
$--checkbox-checked-text-color:                  $P;
$--checkbox-checked-input-border-color:          $P;
$--checkbox-checked-input-fill:                  $P;
$--checkbox-checked-icon-color:                  $H;
$--checkbox-input-border-color-hover:            $P;
$--checkbox-button-checked-fill:                 $P;
$--checkbox-button-checked-color:                $H;
$--checkbox-button-checked-border-color:         $P;

/* Radio -------------------------- */
$--radio-color:                               $--color-text-regular;
$--radio-input-fill:                          $H;
$--radio-input-border-color:                  $--border-color-base;
$--radio-icon-color:                          $H;
$--radio-disabled-input-border-color:         $--disabled-border-base;
$--radio-disabled-input-fill:                 $--background-color-base;
$--radio-disabled-icon-color:                 $--background-color-base;
$--radio-disabled-checked-input-border-color: $--disabled-border-base;
$--radio-disabled-checked-input-fill:         $--background-color-base;
$--radio-disabled-checked-icon-color:         $--color-text-placeholder;
$--radio-button-disabled-checked-fill:        $llI;
$--radio-checked-text-color:                  $P;
$--radio-checked-input-border-color:          $P;
$--radio-checked-input-fill:                  $H;
$--radio-checked-icon-color:                  $P;
$--radio-input-border-color-hover:            $P;
$--radio-button-checked-fill:                 $P;
$--radio-button-checked-color:                $H;
$--radio-button-checked-border-color:         $P;

/* Select -------------------------- */
$--select-dropdown-empty-color:       $--font-color-disabled-base;
$--select-border-color-hover:         $--color-text-placeholder;
$--select-disabled-border:            $--disabled-border-base;
$--select-close-hover-color:          $--color-text-secondary;
$--select-group-color:                $I;
$--select-dropdown-background:        $H;
$--select-input-color:                $--color-text-placeholder;
$--select-multiple-input-color:       $--color-text-regular;
$--select-input-focus-background:     $P;
$--select-option-color:               $--color-text-regular;
$--select-option-disabled-color:      $--color-text-placeholder;
$--select-option-disabled-background: $H;
$--select-option-hover-background:    $--background-color-base;
$--select-option-selected:            $P;
$--select-option-selected-hover:      $--background-color-base;

/* Alert -------------------------- */
$--alert-success-color: $llS;
$--alert-info-color:    $llI;
$--alert-warning-color: $llW;
$--alert-danger-color:  $llD;

/* Message / Message Box / Notification --- Variants */
$--message-success-color: $S; $--msgbox-success-color: $S; $--notification-success-color: $S;
$--message-info-color:    $I; $--msgbox-info-color:    $I; $--notification-info-color:    $I;
$--message-warning-color: $W; $--msgbox-warning-color: $W; $--notification-warning-color: $W;
$--message-danger-color:  $D; $--msgbox-danger-color:  $D; $--notification-danger-color:  $D;

/* Message Box -------------------------- */
$--msgbox-content-color: $--color-text-regular;

/* Message -------------------------- */
$--message-background-color:  $llP;
$--message-content-color:     $--color-text-regular;
$--message-close-color:       $--color-text-placeholder;
$--message-close-hover-color: $--color-text-secondary;

/* Notification -------------------------- */
$--notification-border-color:      $--border-color-lighter;
$--notification-color:             $--color-text-regular;
$--notification-title-color:       $--color-text-primary;
$--notification-close-color:       $--color-text-secondary;
$--notification-close-hover-color: $--color-text-regular;

/* Input -------------------------- */
$--input-color:                      $--color-text-regular;
$--input-border-color:               $--border-color-base;
$--input-border-color-hover:         $--color-text-placeholder;
$--input-fill:                       $H;
$--input-fill-disabled:              $--background-color-base;
$--input-color-disabled:             $--font-color-disabled-base;
$--input-icon-color:                 $--color-text-placeholder;
$--input-placeholder-color:          $--color-text-placeholder;
$--input-hover-border:               $--color-text-placeholder;
$--input-clear-hover-color:          $--color-text-secondary;
$--input-focus-border:               $P;
$--input-focus-fill:                 $H;
$--input-disabled-fill:              $--background-color-base;
$--input-disabled-border:            $--disabled-border-base;
$--input-disabled-color:             $--disabled-color-base;
$--input-disabled-placeholder-color: $--color-text-placeholder;

/* Button -------------------------- */
$--button-primary-border: $P; $--button-primary-fill: $P; $--button-primary-color: $H;
$--button-success-border: $S; $--button-success-fill: $S; $--button-success-color: $H;
$--button-warning-border: $W; $--button-warning-fill: $W; $--button-warning-color: $H;
$--button-danger-border:  $D; $--button-danger-fill:  $D; $--button-danger-color:  $H;
$--button-info-border:    $I; $--button-info-fill:    $I; $--button-info-color:    $H;

$--button-default-border:  $--border-color-base;    $--button-default-fill:  $H;
$--button-disabled-border: $--border-color-lighter; $--button-disabled-fill: $H;

$--button-default-color:  $--color-text-regular;
$--button-disabled-color: $--color-text-placeholder;

$--button-hover-tint-percent:   20%;
$--button-active-shade-percent: 10%;

/* Switch -------------------------- */
$--switch-on-color:            $P;
$--switch-off-color:           $--border-color-base;
$--switch-disabled-color:      $--border-color-lighter;
$--switch-disabled-text-color: $--color-text-placeholder;

/* Table -------------------------- */
$--table-text-color:             $--color-text-regular;
$--table-header-color:           $--color-text-secondary;
$--table-row-hover-background:   $--background-color-base;
$--table-current-row-background: $llP;
$--table-header-background:      $H;
$--table-footer-background:      $--color-text-placeholder;

/* Pagination -------------------------- */
$--pagination-fill:                  $H;
$--pagination-color:                 $--color-text-primary;
$--pagination-button-color:          $--color-text-primary;
$--pagination-button-disabled-color: $--color-text-placeholder;
$--pagination-button-disabled-fill:  $H;
$--pagination-hover-fill:            $P;
$--pagination-hover-color:           $H;

/* Popover -------------------------- */
$--popover-fill:         $H;
$--popover-border-color: $--border-color-lighter;
$--popover-title-color:  $--color-text-primary;

/* Tooltip -------------------------- */
$--tooltip-fill:         $--color-text-primary;
$--tooltip-color:        $H;
$--tooltip-border-color: $--color-text-primary;

/* Tag -------------------------- */
$--tag-color:         $P; $--tag-fill:         $lP; $--tag-border:         $llP;
$--tag-info-color:    $I; $--tag-primary-fill: $lP; $--tag-primary-border: $llP;
$--tag-primary-color: $P; $--tag-success-fill: $lS; $--tag-success-border: $llS;
$--tag-success-color: $S; $--tag-warning-fill: $lW; $--tag-warning-border: $llW;
$--tag-warning-color: $W; $--tag-danger-fill:  $lD; $--tag-danger-border:  $llD;
$--tag-danger-color:  $D; $--tag-info-fill:    $lI; $--tag-info-border:    $llI;

/* Dropdown -------------------------- */
$--dropdown-menuItem-hover-fill:  $llP;
$--dropdown-menuItem-hover-color: $P;

/* Badge -------------------------- */
$--badge-fill: $D;

/* Card --------------------------*/
$--card-border-color: $--border-color-lighter;

/* Slider --------------------------*/
$--slider-main-background-color:   $P;
$--slider-runway-background-color: $--border-color-light;
$--slider-stop-background-color:   $H;
$--slider-disable-color:           $--color-text-placeholder;

/* Rate --------------------------*/
$--rate-icon-color: $--color-text-placeholder;

/* Scrollbar --------------------------*/
$--scrollbar-background-color:       $lI;
$--scrollbar-hover-background-color: $--color-text-placeholder;

/* Collapse --------------------------*/
$--collapse-border-color:  $--border-color-lighter;
$--collapse-header-fill:   $H;
$--collapse-header-color:  $--color-text-primary;
$--collapse-content-fill:  $H;
$--collapse-content-color: $--color-text-primary;
