@import "theme";
@import "colors";
@import "layout";


/* Transition -------------------------- */
$--fade-linear-transition: opacity      200ms linear;
$--all-transition:         all          0.3s  cubic-bezier(0.645, 0.045, 0.355, 1);
$--fade-transition:        opacity      300ms cubic-bezier(0.230, 1.000, 0.320, 1);
$--md-fade-transition:     transform    300ms cubic-bezier(0.230, 1.000, 0.320, 1) 100ms,
                           opacity      300ms cubic-bezier(0.230, 1.000, 0.320, 1) 100ms;
$--border-transition-base: border-color 0.2s  cubic-bezier(0.645, 0.045, 0.355, 1);
$--color-transition-base:  color        0.2s  cubic-bezier(0.645, 0.045, 0.355, 1);


/* Border -------------------------- */
$--border-width-base: 1px;
$--border-style-base: solid;

$--border-base: $--border-width-base $--border-style-base $--border-color-base;

$--checkbox-input-border:  $--border-base;
$--radio-input-border:     $--border-base;
$--input-border:           $--border-base;

$--select-dropdown-border: $--border-width-base $--border-style-base $--border-color-light;
$--table-border:           $--border-width-base $--border-style-base $--border-color-lighter;


/* Box-shadow -------------------------- */
$--box-shadow-light: 0 2px 12px 0 rgba(0, 0, 0, 0.1);

$--select-dropdown-shadow:   $--box-shadow-light;
$--notification-shadow:      $--box-shadow-light;
$--dropdown-menu-box-shadow: $--box-shadow-light;

$--dialog-box-shadow:      0 1px 3px  rgba(0, 0, 0, 0.3);
$--table-fixed-box-shadow: 0 0   10px rgba(0, 0, 0, .12);
$--message-shadow:         0 2px 4px  rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04);

