@import "theme";

/*Font--------------------------*/
$--font-size-base:  $font-md;
$--font-size-small: $font-sm; // only used in table-column filters


/*Checkbox--------------------------*/
$--checkbox-font-size:                     $font-md;                 //14px;
$--checkbox-font-weight:                   $weight-normal;           //500;
$--checkbox-input-height:                  $font-md;                 //14px;
$--checkbox-input-width:                   $font-md;                 //14px;
$--checkbox-input-border-radius:           $radius - 1px;            //2px;
$--checkbox-bordered-height:               $input;                   //40px;
$--checkbox-bordered-padding:              $md $lg $md $md;          //9px 20px 9px 10px;
$--checkbox-bordered-medium-padding:       $md $lg $md $md;          //7px 20px 7px 10px;
$--checkbox-bordered-small-padding:        $sm $lg $sm $md;          //5px 15px 5px 10px;
$--checkbox-bordered-mini-padding:         $sm $lg $sm $md;          //3px 15px 3px 10px;
$--checkbox-bordered-medium-input-height:  $font-md;                 //14px;
$--checkbox-bordered-medium-input-width:   $font-md;                 //14px;
$--checkbox-bordered-medium-height:        $input;                   //36px;
$--checkbox-bordered-small-input-height:   $font-sm;                 //12px;
$--checkbox-bordered-small-input-width:    $font-sm;                 //12px;
$--checkbox-bordered-small-height:         $input - $sm;             //32px;
$--checkbox-bordered-mini-input-height:    $font-sm;                 //12px;
$--checkbox-bordered-mini-input-width:     $font-sm;                 //12px;
$--checkbox-bordered-mini-height:          $input - $sm;             //28px;
$--checkbox-button-font-size:              $font-md;                 //14px;

/*Radio--------------------------*/
$--radio-font-size:                        $font-md;                 //14px;
$--radio-font-weight:                      $weight-normal;           //500;
$--radio-input-height:                     $font-md;                 //14px;
$--radio-input-width:                      $font-md;                 //14px;
$--radio-input-border-radius:              100%;                     //100%;
$--radio-bordered-height:                  $input;                   //40px;
$--radio-bordered-padding:                 $md $lg $no $md;          //12px 20px 0 10px;
$--radio-bordered-medium-padding:          $md $lg $no $md;          //10px 20px 0 10px;
$--radio-bordered-small-padding:           $sm $lg $no $md;          //8px  15px 0 10px;
$--radio-bordered-mini-padding:            $sm $lg $no $md;          //6px  15px 0 10px;
$--radio-bordered-medium-input-height:     $font-md;                 //14px;
$--radio-bordered-medium-input-width:      $font-md;                 //14px;
$--radio-bordered-medium-height:           $input;                   //36px;
$--radio-bordered-small-input-height:      $font-sm;                 //12px;
$--radio-bordered-small-input-width:       $font-sm;                 //12px;
$--radio-bordered-small-height:            $input - $sm;             //32px;
$--radio-bordered-mini-input-height:       $font-sm;                 //12px;
$--radio-bordered-mini-input-width:        $font-sm;                 //12px;
$--radio-bordered-mini-height:             $input - $sm;             //28px;
$--radio-button-font-size:                 $font-md;                 //14px;

/*Select--------------------------*/
$--select-font-size:                       $font-md;                 //14px;
$--select-input-font-size:                 $font-md;                 //14px;
$--select-option-height:                   $xl;                      //34px;
$--select-group-height:                    $xl;                      //30px;
$--select-group-font-size:                 $font-sm;                 //12px;
$--select-dropdown-max-height:             $xl * 10;                 //274px;
$--select-dropdown-padding:                $sm $no;                  //6px  0;
$--select-dropdown-empty-padding:          $md $no;                  //10px 0;

/*Input--------------------------*/
$--input-font-size:                        $font-md;                 //14px;
$--input-width:                            100%;                     //140px;
$--input-height:                           $input;                   //40px;
$--input-border-radius:                    $radius;                  //4px;
$--input-max-width:                        100%;                     //314px

$--input-medium-font-size:                 $font-md;                 //14px;
$--input-medium-height:                    $input;                   //36px;

$--input-small-font-size:                  $font-sm;                 //13px;
$--input-small-height:                     $input - $sm;             //32px;
$--input-mini-font-size:                   $font-sm;                 //12px;
$--input-mini-height:                      $input - $sm;             //28px;

/*Group--------------------------*/
$--group-option-flex:                      0 0 (1/5) * 100%;
$--group-option-offset-bottom:             $md;                      //12px;
$--group-title-font-size:                  $font-md;                 //14px;
$--group-title-width:                      $xl * 2;                  //66px;

/*Button--------------------------*/
$--button-font-weight:                     $weight-normal;           //500;
$--button-font-size:                       $font-md;                 //14px;
$--button-medium-font-size:                $font-md;                 //14px;
$--button-small-font-size:                 $font-sm;                 //12px;
$--button-mini-font-size:                  $font-sm;                 //12px;
$--button-border-radius:                   $radius;                  //4px;
$--button-medium-border-radius:            $radius;                  //4px;
$--button-small-border-radius:             $radius - 1px;            //3px;
$--button-mini-border-radius:              $radius - 1px;            //3px;
// for these to make sense, the line height must be unset later
$--button-padding-vertical:                $xs;                      //12px;
$--button-padding-horizontal:              $md;                      //20px;
$--button-medium-padding-vertical:         $xs;                      //10px;
$--button-medium-padding-horizontal:       $md;                      //20px;
$--button-small-padding-vertical:          $no;                      //9px;
$--button-small-padding-horizontal:        $sm;                      //15px;
$--button-mini-padding-vertical:           $no;                      //7px;
$--button-mini-padding-horizontal:         $sm;                      //15px;

/*Switch--------------------------*/
$--switch-font-size:                       $font-md;                 //14px;
$--switch-core-border-radius:              50%;                      //10px
$--switch-width:                           $xl;                      //40px;
$--switch-height:                          $lg;                      //20px;
$--switch-button-size:                     $lg - $xs;                //16px;

/*Dialog--------------------------*/
$--dialog-title-font-size:                 $font-lg;                 //18px;
$--dialog-font-size:                       $font-md;                 //14px;
$--dialog-line-height:                     $line-md;                 //24px;
$--dialog-padding-primary:                 $lg;                      //15px;

/*Pagination--------------------------*/
$--pagination-font-size:                   $font-sm;                 //13px;
$--pagination-border-radius:               $radius - 1px;            //3px;
$--pagination-button-width:                $xl;                      //35.5px;
$--pagination-button-height:               $line-sm;                 //28px;

/*Popover--------------------------*/
$--popover-font-size:                      $font-md;                 //14px;
$--popover-arrow-size:                     $sm;                      //6px;
$--popover-padding:                        $md;                      //12px;
$--popover-padding-large:                  $lg $lg;                  //18px 20px;
$--popover-title-font-size:                $font-lg;                 //16px;

/*Tooltip--------------------------*/
$--tooltip-font-size:                      $font-sm;                 //12px;
$--tooltip-arrow-size:                     $sm;                      //6px;
$--tooltip-padding:                        $md;                      //10px;

/*Tag--------------------------*/
$--tag-padding:                            $no $md;                  //0 10px;
$--tag-font-size:                          $font-sm;                 //12px;
$--tag-border-radius:                      $radius;                  //4px;

/*Badge--------------------------*/
$--badge-radius:                           50%;                      //10px;
$--badge-font-size:                        $font-sm;                 //12px;
$--badge-padding:                          $sm;                      //6px;
$--badge-size:                             $lg;                      //18px;

/*Card--------------------------*/
$--card-border-radius:                     $radius;                  //4px;
$--card-padding:                           $lg;                      //20px;

/*Slider--------------------------*/
$--slider-margin:                          $lg $no;                  //16px 0;
$--slider-border-radius:                   $radius - 1px;            //3px;
$--slider-height:                          $sm;                      //6px;
$--slider-button-size:                     $lg;                      //16px;
$--slider-button-wrapper-size:             $xl;                      //36px;
$--slider-button-wrapper-offset:           $lg - 1px;                //-15px;

/*Steps--------------------------*/
$--steps-border-radius:                    $radius;                  //4px;
$--steps-padding:                          $lg;                      //20px;

/*Rate--------------------------*/
$--rate-height:                            $lg;                      //20px;
$--rate-font-size:                         $font-md;                 //14px;
$--rate-icon-size:                         $font-lg;                 //18px;
$--rate-icon-margin:                       $sm;                      //6px;

/*Loading--------------------------*/
$--loading-spinner-size:                   $xl;                      //42px;
$--loading-fullscreen-spinner-size:        $xl;                      //50px;

/*Collapse--------------------------*/
$--collapse-header-height:                 $xl;                      //48px;
$--collapse-header-padding:                $lg;                      //20px;
$--collapse-header-size:                   $font-md;                 //13px;
$--collapse-content-size:                  $font-md;                 //13px;

/*Alert--------------------------*/
$--alert-padding:                          $md $lg;                  //8px 16px;
$--alert-border-radius:                    $radius;                  //4px;
$--alert-title-font-size:                  $font-md;                 //13px;
$--alert-description-font-size:            $font-md;                 //12px;
$--alert-close-font-size:                  $font-md;                 //12px;
$--alert-close-customed-font-size:         $font-md;                 //13px;
$--alert-icon-size:                        $font-lg;                 //16px;
$--alert-icon-large-size:                  $font-xl;                 //28px;

/*MessageBox--------------------------*/
$--msgbox-width:                           $width - 1rem;            //420px;
$--msgbox-border-radius:                   $radius;                  //4px;
$--msgbox-font-size:                       $font-lg;                 //18px;
$--msgbox-content-font-size:               $font-md;                 //14px;
$--msgbox-error-font-size:                 $font-sm;                 //12px;
$--msgbox-padding-primary:                 $lg;                      //15px;

/*Message--------------------------*/
$--message-min-width:                      $width - 1rem;            //380px;
$--message-padding:                        $lg $lg $lg $lg;          //15px 15px 15px 20px;
$--message-close-size:                     $font-lg;                 //16px;

/*Notification--------------------------*/
$--notification-width:                     $width - 2.5rem;          //330px;
$--notification-padding:                   $lg ($lg + $md) $lg $lg;  //14px 26px 14px 13px;
$--notification-radius:                    $radius * 2;              //8px;
$--notification-icon-size:                 $font-lg;                 //24px;
$--notification-close-font-size:           $font-lg;                 //16px;
$--notification-group-margin:              $md;                      //13px;
$--notification-font-size:                 $font-md;                 //14px;
$--notification-title-font-size:           $font-lg;                 //16px;
